# Gradle files
.gradle/
build/

# Kotlin
.kotlin/

# IDE files
.idea/
*.iml
*.iws
*.ipr
out/

# Android related
local.properties
captures/
.externalNativeBuild/
.cxx/
*.hprof
*.apk
*.aar
*.bundle
*.jks
*.keystore

# Google Services
google-services.json

# OS files
.DS_Store
Thumbs.db

# Misc
.artifacts/
